body {
    padding: 20px;
    justify-content: center;
    background-color: #9fe2df;
    font: 16px/1.5 sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #1e90ff;
}

form {
    width: 300px;
    border: 1px solid blue;
    padding: 10px 24px;
    background-color: #abcdef;
}
button {
    
    padding: 10px 24px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    background: #47cf73;
    cursor: pointer;
}

textarea {
    resize: none;
}

input:invalid {
    border: red solid 1px;
}