body {
    padding: 20px;
    justify-content: center;
    color: #1e1f26;
    font: 16px/1.5 sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    border: 1px solid #ae63a4;
    padding: 10px 24px;
}
button {
    
    padding: 10px 24px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    background: #47cf73;
    cursor: pointer;
}

textarea {
    resize: none;
}

input:invalid {
    border: red solid 3px;
}